{% import ':macro:display.html.twig' as display %}

{% if holder %}
    <p>
        This record was set
        on {{ holder.date|date(DATE_FORMAT) }}
        at {{ display.competition(holder.competition) }}
        and is held by
        {% include ':record:_holder.html.twig' with { 'people': holder.people } only %}
        {% if record.numHolders > 1 %}
            <span>
                with a total score of <strong>{{ holder.score }}</strong>
            </span>
        {% endif %}
    </p>
{% else %}
    <p>
        Nobody currently holds this record!
    </p>
{% endif %}
