{% import ':macro:display.html.twig' as display %}

{% for person in people %}
    {{ display.person(person.person) }}
    <span> - </span>
    {% if person.score %}
        {{ display.score(person.score) }}
    {% else %}
        {{ person.scoreValue }}
    {% endif %}
    {% if not loop.last %}
        <span>, </span>
    {% endif %}
{% endfor %}
