<td class="shrink">{{ holder.date|date(DATE_FORMAT) }}</td>
<td class="shrink">{{ holder.dateBroken|date(DATE_FORMAT) }}</td>
<td>
    {% include ':record:_holder.html.twig' with { 'people': holder.people } only %}
</td>
{% if record.numHolders > 1 %}
    <td class="shrink">{{ holder.score }}</td>
{% endif %}
