<h1>Club Record Award Conditions</h1>

<ul>
    <li>
        Club Records can only be awarded for performances in official competitions, not club sessions.
        <br/>
        Scores are taken from the final scores provided by the organisers.
        The archer must be identified with an ICAC affiliation on the official results, but does not have to have
        attended the competition as part of a club group.
        <br/>
        Team records can only be achieved where the team total result is specifically published by the organisers.
        <br/>
        &nbsp;
    </li>

    <li>
        If an archer shoots a score in a category for which there is no existing Club Record, then a minimum standard
        must be exceeded for the score acknowledged as a Club Record (and Record Breaker badge awarded).
        <br/>
        This standard is equivalent to an ArcheryGB handicap<strong>*</strong> of:

        <table>
            <tr>
                <th>&nbsp;</th>
                <th colspan="2">Indoor</th>
                <th colspan="2">Outdoor Gents</th>
                <th colspan="2">Outdoor Ladies</th>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <th>Senior</th>
                <th>Novice</th>
                <th>Senior</th>
                <th>Novice</th>
                <th>Senior</th>
                <th>Novice</th>
            </tr>

            <tr>
                <th>Recurve</th>
                <td>65</td>
                <td>73</td>
                <td>50</td>
                <td>58</td>
                <td>57</td>
                <td>65</td>
            </tr>
            <tr>
                <th>Barebow</th>
                <td>79</td>
                <td>84</td>
                <td>64</td>
                <td>71</td>
                <td>71</td>
                <td>78</td>
            </tr>
            <tr>
                <th>Longbow</th>
                <td>82</td>
                <td>86</td>
                <td>69</td>
                <td>74</td>
                <td>73</td>
                <td>82</td>
            </tr>
            <tr>
                <th>Compound</th>
                <td>55</td>
                <td>68</td>
                <td>38</td>
                <td>48</td>
                <td>49</td>
                <td>56</td>
            </tr>
        </table>

        A list of permissible rounds is given in the appendix.
        <br/>
        &nbsp;
    </li>
    <li>
        Seniors cannot hold Novice Club Records, but Novices can hold Senior (Open) Club Records.
        <br/>
        &nbsp;
    </li>
    <li>
        If, during a single session, two (or more) archers
        <ul>
            <li>surpass the same existing Club Record, then both (all) are awarded the Record Breaker badge; the
                high-scorer becomes the new Record Holder.
            </li>
            <li>record a suitable score for a category with no existing Club Record, then only the high-scorer is
                awarded the Record Breaker badge and is the new Record Holder.
            </li>
        </ul>
    </li>
    <li>
        In competitions with multiple sessions, a new Club Record is deemed to stand at the end of the session in which it was shot.
        <br/>
        If an archer shoots a “double” round on a single day, then only the first round may be considered for a Club Record for that
        (single) round
    </li>
</ul>

<strong>*</strong>
<small>The lowest handicap which completely exceeds the corresponding qualifying standard for the BUCS 2014 tournament,
    using the ArcheryGB April 2014 handicap tables
</small>