<h1>Appendix: Permissible Rounds</h1>

<p>Records are kept for the following categories:</p>

<style scoped>
    .record_appendix_table {
        width: auto;
    }

    .record_appendix_table td, .record_appendix_table th {
        padding: 1mm 4mm;
    }

    .record_appendix_table tr {
        text-align: center;
    }

    .record_appendix_table tr :first-child {
        text-align: right;
    }
</style>

<table>
    <tr>
        <td style="width: 50%">
            <table class="record_appendix_table">
                <tr>
                    <td><h2>Indoors</h2></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                    <th>All<br/>Archers</th>
                </tr>
                <tr>
                    <td>Portsmouth</td>
                    <td>&bull;</td>
                </tr>
                <tr>
                    <td>Double Portsmouth</td>
                    <td>&bull;</td>
                </tr>
                <tr>
                    <td>WA25</td>
                    <td>&bull;</td>
                </tr>
                <tr>
                    <td>WA18</td>
                    <td>&bull;</td>
                </tr>
                <tr>
                    <td>Bray</td>
                    <td>&bull;</td>
                </tr>
                <tr>
                    <td>Worcester</td>
                    <td>&bull;</td>
                </tr>
            </table>
        </td>
        <td>
            <table class="record_appendix_table">
                <tr>
                    <td><h2>Outdoors</h2></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                    <th>Senior<br/>Gents</th>
                    <th>Senior<br/>Ladies</th>
                    <th>Novice<br/>Gents</th>
                    <th>Novice<br/>Ladies</th>
                </tr>
                <tr>
                    <td>York</td>
                    <td>&bull;</td>
                    <td>&nbsp;</td>
                    <td>&bull;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Hereford</td>
                    <td>&nbsp;</td>
                    <td>&bull;</td>
                    <td>&bull;</td>
                    <td>&bull;</td>
                </tr>
                <tr>
                    <td>Bristol II</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&bull;</td>
                </tr>
                <tr>
                    <td>St George</td>
                    <td>&bull;</td>
                    <td>&nbsp;</td>
                    <td>&bull;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Albion</td>
                    <td>&bull;</td>
                    <td>&bull;</td>
                    <td>&bull;</td>
                    <td>&bull;</td>
                </tr>
                <tr>
                    <td>Windsor</td>
                    <td>&nbsp;</td>
                    <td>&bull;</td>
                    <td>&bull;</td>
                    <td>&bull;</td>
                </tr>
                <tr>
                    <td>WA1440 - Gents</td>
                    <td>&bull;</td>
                    <td>&nbsp;</td>
                    <td>&bull;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>WA1440 - Ladies</td>
                    <td>&nbsp;</td>
                    <td>&bull;</td>
                    <td>&bull;</td>
                    <td>&bull;</td>
                </tr>
                <tr>
                    <td>Metric II</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&bull;</td>
                </tr>
                <tr>
                    <td>WA70</td>
                    <td>&bull;</td>
                    <td>&bull;</td>
                    <td>&bull;</td>
                    <td>&bull;</td>
                </tr>
                <tr><th colspan="4">for Compound bows only</th></tr>
                <tr>
                    <td>WA50</td>
                    <td>&bull;</td>
                    <td>&bull;</td>
                    <td>&bull;</td>
                    <td>&bull;</td>
                </tr>
                <tr>
                    <td>Compound Match</td>
                    <td>&bull;</td>
                    <td>&bull;</td>
                    <td>&bull;</td>
                    <td>&bull;</td>
                </tr>

            </table>
        </td>
    </tr>
</table>