{% import ':macro:display.html.twig' as display %}

<table>
    {% for badge in badges %}
        <tr>
            <td class="text shrink">{{ badge.dateAwarded|date(DATE_FORMAT) }}</td>
            <td>{{ display.badge(badge.badge) }}</td>
            {% if badge.state != Enum.badgestate.delivered %}
            <td class="actions">{% include ':badge:state.html.twig' with { 'badge': badge } only %}</td>
            {% endif %}
        </tr>
    {% endfor %}
    <tr>
        <td colspan="3"><a href="#" class="text-muted">View all Badges</a></td>
    </tr>
</table>
