{% import ':macro:display.html.twig' as display %}

<table>
    {% for record in records %}
        {% set holder = record.recordHolder %}
        <tr>
            <td class="shrink">{{ holder.date|date(DATE_FORMAT) }}</td>
            {% if holder.dateBroken %}
                <td class="shrink">{{ holder.dateBroken|date(DATE_FORMAT) }}</td>
            {% else %}
                <td class="shrink">Current</td>
            {% endif %}
            <td>{{ display.record(holder.record) }}</td>
            <td class="shrink">{{ holder.score }}</td>
        </tr>
    {% endfor %}
</table>
