<ul class="list">
    {% for score in scores %}
        <li>
            <span class="text shrink">{{ score.dateShot|date('d/m/Y') }}</span>
            {# NOTE: the round name links to the score... #}
            <a href="{{ url('score_detail', { 'id': score.id }) }}">{{ score.round.name }}</a>
            <span class="text shrink">{{ score.score }}</span>
        </li>
    {% endfor %}
    <li>
        {# TODO link to view all page (filter list?) #}
        <a href="#" class="text-muted">View all Scores</a>
    </li>
</ul>
