<table>
    {% for score in scores %}
        <tr>
            <td class="shrink">{{ score.dateShot|date('d/m/Y') }}</td>
            {# NOTE: the round name links to the score... #}
            <td><a href="{{ url('score_detail', { 'id': score.id }) }}">{{ score.round.name }}</a></td>
            <td class="shrink">{{ score.score }}</td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan="3"><a href="#" class="text-muted">View all Scores</a></td>
    </tr>
</table>
