<h1>{{ person.name }}</h1>

{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ url('person_edit', { 'id': person.id }) }}">Edit</a>
    | <a href="{{ url('person_delete', { 'id': person.id }) }}">Delete</a>
{% endif %}

<p>
    TODO add the fields!
</p>