{% extends '::base_sidebar.html.twig' %}

{% block title %}
    Import People
{% endblock %}

{% block body %}
    <p>
        Import people from a CSV file (from eActivities)
    </p>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <input type="submit" value="Import"/>
    {{ form_end(form) }}
{% endblock %}