{% extends '::base.html.twig' %}

{% block title %}
    Delete Competition
{% endblock %}

{% block body %}
    <form method="post" action="{{ url('competition_delete', { id: competition.id }) }}">
        <p>Are you sure you want to delete {{ competition.name }}?</p>
        <input type="submit" value="Yes"> | <a href="{{ url('competition_list') }}">No</a>
    </form>
{% endblock %}
