{% extends '::base.html.twig' %}

{% block title %}
    Delete Competition Session
{% endblock %}

{% block body %}
    <form method="post" action="{{ url('competition_session_delete', { id: session.id, competition_id: competition.id }) }}">
        <p>Are you sure you want to delete {{ competition.name }} - {{ session.startTime|date(DATETIME_FORMAT) }}?</p>
        <input type="submit" value="Yes"> | <a href="{{ url('competition_detail', { id: competition.id }) }}">No</a>
    </form>
{% endblock %}
