{% extends '::base_sidebar.html.twig' %}
{% import ':macro:display.html.twig' as display %}

{% block title %}
    Enter Competition
{% endblock %}

{% block body %}
    {{ form_start(form) }}

    <div class="form-row">
        <div class="form-input with-value">
            {{ display.competition(competition) }}
        </div>
        <label>
            Competition
        </label>
    </div>

    {{ form_widget(form) }}

    <input type="submit" value="Enter"/>
    {{ form_end(form) }}
{% endblock %}
