/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
/build/
/packages/
/.idea/

bower_components/
node_modules/
.sass-cache/

/web/css/
/web/fonts/
/web/images/
/web/js/
/web/uploads/*
!web/uploads/.gitkeep

*.php~
