/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/

/.idea/

/assets/bower_components/
/assets/node_modules/
/assets/.sass-cache/
/web/css/
/web/fonts/
/web/js/
