{% import ':macro:display.html.twig' as display %}

{% if league.description|trim %}
    <p>
        {{ league.description }}
    </p>
{% endif %}

<dl>
    <dt>Open Date</dt>
    <dd>{{ league.openDate|date(DATETIME_FORMAT) }}</dd>
    {% if league.closeDate %}
        <dt>Close Date</dt>
        <dd>{{ league.closeDate|date(DATETIME_FORMAT) }}</dd>
    {% endif %}
    <dt>Rounds</dt>
    {% if league.rounds|length > 0 %}
        <dd>
            {% for round in league.rounds %}
                {{ display.round(round) }}
                {% if not loop.last %}
                    <span>,&nbsp;</span>
                {% endif %}
            {% endfor %}
        </dd>
    {% else %}
        <dd>Any</dd>
    {% endif %}
</dl>
