<span class="text shrink">
    {{ index }}
</span>
<span class="text">
    {{ person.person.name }} {#TODO link#}
</span>
<span class="text shrink">
    {# TODO green-up, red-down #}
    {{ person.initialPosition - index }}
</span>
<span class="text shrink">
    {{ person.points }}
</span>
