{% import ':macro:display.html.twig' as display %}

<span class="text shrink">
    {{ index }}
</span>
<span class="text">
    {{ display.person(person.person) }}
</span>
<span class="text shrink">
    {# TODO green-up, red-down #}
    {{ person.initialPosition - index }}
</span>
<span class="text shrink">
    {{ person.points }}
</span>
