{% import ':macro:display.html.twig' as display %}

<ul class="list">
    {% for person in people %}
        <li>
            <span class="text shrink">{{ loop.index }}</span>
            <span class="text">{{ display.person(person.person) }}</span>
            <span class="text shrink">
                {{ person.initialPosition - loop.index }}
            </span>
            <span class="text shrink">{{ person.points }}</span>
        </li>
    {% else %}
        <li><span class="text">Nobody has entered this league yet!</span></li>
    {% endfor %}
</ul>
