{% import ':macro:display.html.twig' as display %}

<table>
    {% for person in people %}
        <tr>
            <td class="shrink">{{ loop.index }}</td>
            <td>{{ display.person(person.person) }}</td>
            <td class="shrink">
                {{ person.initialPosition - loop.index }}
            </td>
            <td class="shrink">{{ person.points }}</td>
        </tr>
    {% else %}
        <tr><td>Nobody has entered this league yet!</td></tr>
    {% endfor %}
</table>
