{% extends '::base.html.twig' %}
{% import ':macro:display.html.twig' as display %}

{% block title %}
    Delete Person from League
{% endblock %}

{% block body %}
    <form method="post" action="{{ url('league_signup_delete', { id: league.id, signup_id: person.id }) }}">
        <p>Are you sure you want to remove {{ display.person(person.person) }} from {{ display.league(league) }}?</p>
        <input type="submit" value="Yes"> | <a href="{{ url('league_detail', { id: league.id }) }}">No</a>
    </form>
{% endblock %}
