{% extends '::base_sidebar.html.twig' %}

{% block title %}
    Leagues
{% endblock %}

{% block body %}
    <ul class="list">
        {% for league in leagues %}
            <li>{% include ':league:_list_entry.html.twig' with { 'league': league } %}</li>
        {% else %}
            <li>No Leagues :(</li>
        {% endfor %}
    </ul>
{% endblock %}

{% block sidebar %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="widget">
            <h3 class="widget-title">Actions</h3>
            <ul>
                <li><a href="{{ url('league_create') }}">Create</a></li>
            </ul>
        </div>
    {% endif %}

    {{ parent() }}
{% endblock %}
