// default: show logo, hide menu + sidebar with js toggle
#page-header {
  .main-header-bar {
    padding: 2px 2px 0;

    text-align: center;
    .logo img {
      height: 48px;
    }
  }

  border-bottom: 1px solid #e4e4e4;
}

#main-menu {
  ul {
    margin: 0;
    padding: 0;
  }
}

#content {
  background: #fff;
  // i have no idea...
  margin-top: -21px;
}

#side-menu {
  padding: $layout-gutter-width / 2;
  border-top: 1px solid #e4e4e4;
}

.page-title {
  padding: $layout-gutter-width / 2;
  padding-bottom: 0;
}

.card {
  padding: $layout-gutter-width / 2;
}

// large screen: display static 3 column (menu, body, sidebar)
@media(min-width: $layout-breakpoint-md) {
  body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #page-header, #side-menu {
    width: 180px + $layout-gutter-width;
    padding: $layout-gutter-width / 2;
  }

  #page-header {
    border-bottom: none;
    border-right: 1px solid #e4e4e4;

    .main-header-bar {
      text-align: left;
      .logo img {
        height: 32px;
      }
    }

    .menu-toggle {
      display: none;
    }

  }

  #content {
    flex: 1;
    padding: $layout-gutter-width / 2;
    margin-top: 0;

    .page-title {
      text-align: center;

      margin-top: 0;
      line-height: 57px;
      font-size: 48px;
    }
  }

  #side-menu {
    border-top: none;
    border-left: 1px solid #e4e4e4;
  }
}

@media(min-width: $layout-breakpoint-lg) {
  #page-header, #side-menu {
    width: 260px + $layout-gutter-width;
    padding: $layout-gutter-width / 2;
  }

  #page-header {
    .main-header-bar .logo img {
      height: 48px;
    }
  }
}
