$table-border-color: map-get($color-grey, '300');

table {
  width: 100%;

  tr {
    border-top: 1px solid $table-border-color;
    &:first-child {
      border-top: none;
    }

    td {
      padding: $baseline-grid;

      border-left: 1px solid $table-border-color;
      &:first-child {
        border-left: none;
      }
    }

    td.shrink, td.actions {
      width: 1%;
      white-space: nowrap;
    }
  }
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: flex;
    align-items: center;
    border-top: 1px solid map-get($color-grey, '300');

    > a, > span.text, .actions a {
      display: flex;
      flex-wrap: wrap;
      flex: 1;

      padding: $baseline-grid;

      &:hover {
        background-color: map-get($color-grey, '100');
      }

      & + a, & + span.text {
        border-left: 1px solid map-get($color-grey, '300');
      }

      &.shrink {
        flex: inherit;
      }
    }

    .actions {
      display: flex;

      a {
        font-size: $h3-font-size;
        border-left: none;
      }
    }
  }

  li:first-child {
    padding-top: 0;
    border-top: none;
  }
}

$dl-border: 1px solid map-get($color-grey, '300');

dl {
  margin-top: 0;

  dt, dd {
    margin: 0;
    padding: $baseline-grid;

    width: 100%;
  }

  dt {
    font-weight: bold;

    border-top: $dl-border;
  }

  dt:first-child {
    border-top: none;
  }

  @media (min-width: $layout-breakpoint-sm) {
    dt, dd {
      display: inline-block;
    }

    dt {
      width: 33%;
      font-weight: normal;
    }

    dd {
      width: 66%;
      border-top: $dl-border;
      border-left: $dl-border;
    }

    dt:first-child + dd {
      border-top: none;
    }
  }

  dt.admin, dt.admin + dd {
    color: map-get($color-red, '900')
  }
}