.menu-toggle {
  float: right;

  width: 35px;
  height: 35px;

  border: none;
  background: transparent;

  margin: $layout-gutter-width/2;
  padding: 0;

  span {
    display: block;

    width: 25px;
    margin: 0 5px;

    border-top: 4px solid #000;
  }

  span + span {
    margin-top: 6px;
  }

  &:hover {
    box-shadow: none;

    span {
      border-top-color: map-get($primary-color-palette, '300');
    }
  }
}

#main-menu {
  ul.menu {
    width: 100%;

    li a {
      padding: $layout-gutter-width / 2;
      display: block;

      &:hover {
        color: #fafafa;
        background-color: map-get($primary-color-palette, '300');
      }
    }
  }
}
