html.js header.page-header {
  .menu-toggle {
    display: none;
  
    width: 35px;
    height: 35px;
    
    border: none;
    background: transparent;
    
    margin: $layout-gutter-width/2;
    padding: 0;
    
    span {
      width: 25px;
      display: block;
      
      margin: 0 5px;
      
      border-top: 4px solid $background-color-base;
    }
    
    span + span {
      margin-top: 6px;
    }
    
    &:hover {     
      span {
        border-top-color: map-get($primary-color-palette, '300');
      }
    }
  }
  
  @media (max-width: $layout-breakpoint-md) {
    .menu { display: none; }
  
    .menu-toggle {
      display: block;
    }
  }
}
html.no-js header.page-header {
  .menu-toggle { display: none; }
  
  .sub-menu {
    display: block;
  }
}

header.page-header {
  @media (max-width: $layout-breakpoint-md) {
    .menu {
      flex-direction: column;
      padding-left: $layout-gutter-width;
    }
    .menu li {
      &.menu-item-has-children {
        flex-direction: column;
      }
      
      a {
        text-align: left;
      }
      
      .sub-menu {
        box-shadow: none;
      
        position: relative;
        // display: block;
        
        top: inherit;
        left: inherit;
        right: inherit;
        
        padding-left: $layout-gutter-width;
      }
    }
  }
}
