$target-info-bg: #000;
$target-info-fg: #fff;

$yellow-color: #FFEB3B;
$red-color: #F44336;
$blue-color: #2196F3;
$black-color: #212121;
$white-color: #FAFAFA;

@mixin scoring-button($color) {
  background-color: $color;
  width: 100%;

  &:disabled {
    background-color: desaturate($color, 20%);
  }

  &:hover {
    background-color: darken($color, 20%);
  }
}


.arrow {
  &.yellow {
     @include scoring-button($yellow-color);
   }
  &.red {
    @include scoring-button($red-color);
  }
  &.blue {
    @include scoring-button($blue-color);
  }
  &.black {
    @include scoring-button($black-color);

    color: $white-color;

    &:hover {
      color: $white-color;
    }
  }
  &.white {
    @include scoring-button($white-color);
  }
}

.scoresheet {
  display: flex;
  flex-direction: column;

  .target {

    text-align: center;
    border-left: 1px solid $target-info-bg;

    .header {
      background-color: $target-info-bg;
      color: $target-info-fg;
    }

    .scores {
      display: flex;
      flex-direction: row;

      .ends {
        flex: 1;

        .end {
          display: flex;
          flex-direction: row;

          .arrow {
            flex: 1;
            padding: $baseline-grid;
          }
        }
      }
      .endTotals {
        .endTotal {
          background-color: $target-info-bg;
          color: $target-info-fg;

          padding: $baseline-grid;
        }
      }
    }

    .footer {
      display: flex;
      flex-direction: row;

      background-color: $target-info-bg;
      color: $target-info-fg;

      div {
        flex: 1;

        strong {
          &:after {
            content: " ";
          }
        }
        span {

        }
      }
    }
  }

  .input {
    .buttons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      margin: $baseline-grid 0;

      button {
        flex: 1;

        min-width: 48px;
        padding: $baseline-grid;
      }
    }
    .buffer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      margin: $baseline-grid 0;

      button, div {
        padding: $baseline-grid;
      }
      div {
        line-height: 42px;
      }
      div:nth-last-child(2) {
        flex: 1;
      }
      div:last-child {
        display: block;
        line-height: inherit;
      }
    }
    .accept {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      margin: $baseline-grid 0;

      button {
        flex: 1;
      }
    }
  }
}