$target-info-bg: transparent;
$target-info-border: map-get($color-grey, '300');
$target-info-fg: #000;

$scoring-active-color: #f2f2f2;

$yellow-color: #FFEB3B;
$red-color: #F44336;
$blue-color: #2196F3;
$black-color: #212121;
$white-color: #FAFAFA;

@mixin scoring-button($color) {
  background-color: $color;
  width: 100%;

  &:disabled {
    background-color: desaturate($color, 20%);
  }

  &:hover {
    background-color: darken($color, 20%);
  }
}

.arrow {
  &.yellow {
     @include scoring-button($yellow-color);
   }
  &.red {
    @include scoring-button($red-color);
  }
  &.blue {
    @include scoring-button($blue-color);
  }
  &.black {
    @include scoring-button($black-color);

    color: $white-color;

    &:hover {
      color: $white-color;
    }
  }
  &.white {
    @include scoring-button($white-color);
  }
}

.scoresheet {
  display: flex;
  flex-direction: column;

  @media(min-width: $layout-breakpoint-md) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .target {
    text-align: center;

    border: 1px solid $target-info-border;
    border-top-style: none;
    &:first-child {
      border-top-style: solid;
    }

    @media(min-width: $layout-breakpoint-md) {
      width: 50%;
      padding: $baseline-grid;

      border-top-style: none;
      &:first-child, &:nth-child(2) {
        border-top-style: solid;
      }
      &:nth-child(2n) {
        border-left-style: none;
      }


    }



    .header {
      background-color: $target-info-bg;
      color: $target-info-fg;
    }

    .scores {
      display: flex;
      flex-direction: row;

      .ends {
        flex: 1;

        .end {
          display: flex;
          flex-direction: row;

          .arrow {
            flex: 1;
            padding: $baseline-grid;
          }

          &.active {
            background: $scoring-active-color;
          }
        }
      }
      .endTotals {
        .endTotal {
          background-color: $target-info-bg;
          color: $target-info-fg;

          padding: $baseline-grid;

          &.active {
            background: $scoring-active-color;
          }
        }
      }
    }

    .footer {
      display: flex;
      flex-direction: row;

      background-color: $target-info-bg;
      color: $target-info-fg;

      div {
        flex: 1;

        strong {
          &:after {
            content: " ";
          }
        }
        span {

        }
      }
    }
  }

  .input {
    .buttons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      margin: $baseline-grid 0;

      button {
        flex: 1;

        min-width: 48px;
        padding: $baseline-grid;
      }
    }
    .buffer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      margin: $baseline-grid 0;

      button, div {
        padding: $baseline-grid;
      }
      div {
        text-align: left;
        line-height: 42px;
      }
      div:nth-last-child(2) {
        flex: 1;
      }
      div:last-child {
        display: block;
        line-height: inherit;
      }
    }
    .accept {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      margin: $baseline-grid 0;

      button {
        flex: 1;
      }
    }
  }
}