{% set hide_login = true %}
{% extends '::base.html.twig' %}

{% block content %}
    <div id="primary" flex-gt-md="75">
        {% set _title_block = block('title') %}
        {% if _title_block is not empty %}
            <h1 class="page-title">{{ _title_block|trim|raw }}</h1>
        {% endif %}
        <div class="card">
            {% block body %}

            {% endblock %}
        </div>
    </div>

    <div id="secondary" flex-gt-md="25" role="complementary">
        {% block sidebar %}
            {% include '_auth.html.twig' %}
            {% include '_tools.html.twig' %}
        {% endblock %}
    </div>
{% endblock %}
