{% extends '::base.pdf.twig' %}

{% block content %}
    {% for badge in badges %}
    <div style="text-align: center; display: inline-block; width: 8cm;">
        <div style="border: 1px solid black; width: 5cm; height: 5cm; display: inline-block">IMAGE</div>
        <div>{{ badge.badge.name }}</div>
        <div>{{ badge.person.name }}</div>
        <div>{{ badge.dateAwarded|date('Y-M-d') }}</div>

        <div>{{ badge.id | barcode }}</div>
    </div>
    {% endfor %}
{% endblock %}