{% extends '::base.pdf.twig' %}

{% block title %}
    <h1>{{ competition.name }}</h1>
    <h2>{{ competition.date|date(DATETIME_FORMAT) }}</h2>
{% endblock %}

{% block content %}
    {% for entry in competition.entries %}
        <section>
            {% include ":pdf:_scoresheet.pdf.twig" with {'entry': entry} only %}
        </section>
    {% endfor %}
{% endblock %}
