{% extends 'base.html.twig' %}

{% block title %}
    Edit awarded Badge
{% endblock %}
{% block body %}
    <p>Edit the awarded "{{ badge.name }}" badge</p>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <input type="submit" value="Save"/>
    {{ form_end(form) }}
{% endblock %}