{% extends '::base_sidebar.html.twig' %}

{% block title %}
    Delete Badge
{% endblock %}

{% block body %}
    <form method="post" action="{{ url('badge_delete', { id: badge.id }) }}">
        <div>Are you sure you want to delete '{{ badge.name }}'?</div>
        <input type="submit" value="Yes"> | <a href="{{ url('badge_detail', { id: badge.id }) }}">No</a>
    </form>
{% endblock %}