{% extends 'base.html.twig' %}

{% block body %}
    <form method="post" action="{{ url('badge_delete', { id: badge.id }) }}">
        Are you sure you want to delete '{{ badge.name }}'?
        <input type="submit" value="Yes"> | <a href="{{ url('badge_detail', { id: badge.id }) }}">No</a>
    </form>
{% endblock %}