{% extends 'base.html.twig' %}

{% block title %}
    {{ club.name }}
{% endblock %}

{% block body %}
    <p>
        TODO add the fields!
    </p>
{% endblock %}

{% block sidebar %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="widget">
            <h3 class="widget-title">Actions</h3>
            <ul>
                <li><a href="{{ url('club_edit', { 'id': club.id }) }}">Edit</a></li>
                <li><a href="{{ url('club_delete', { 'id': club.id }) }}">Delete</a></li>
            </ul>
        </div>
    {% endif %}

    {{ parent() }}
{% endblock %}
