SYMFONY__SECRET=abcdef

# probably don't edit below this

SYMFONY_ENV=prod

SYMFONY__DATABASE_HOST: db
SYMFONY__DATABASE_NAME: orbital
SYMFONY__DATABASE_USER: root
SYMFONY__DATABASE_PASS: 

MYSQL_ALLOW_EMPTY_PASSWORD: 1